.next
.vscode
cli/*.mts
node_modules
prisma
public
src
storage
.env
.gitignore
.prettierrc
*.db
example.env
*.erd
eslint.config.js
tsconfig.cli.json
tsconfig.json
bun.lockb
next.config.mjs
postcss.config.mjs
next-env.d.ts
tailwind.config.mjs
tsconfig.cli.tsbuildinfo
tsconfig.tsbuildinfo